div.tip {
    font-size: 30px;
}

pre.fssnip {
    font-size: 25px !important;
}

div.codeTitle {
    text-align: left;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: block !important;
}

.reveal {
    font-family: "Droid Sans" !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* margin: 0 0 20px 0;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;  */
  font-family: "Droid Sans" !important;
  text-transform: none;
  /* font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none; */
}